Blog/WebComicManager/Service References/ComicDatabase/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FileUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bytearray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="postName" type="tns:Comic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Comic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlogPost" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FileUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileUploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comic" type="tns:Comic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostAllAquire">
        <s:complexType />
      </s:element>
      <s:element name="PostAllAquireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostAllAquireResult" type="tns:ArrayOfComic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfComic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Comic" nillable="true" type="tns:Comic" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetComicImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComicImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComicImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadSoapIn">
    <wsdl:part name="parameters" element="tns:FileUpload" />
  </wsdl:message>
  <wsdl:message name="FileUploadSoapOut">
    <wsdl:part name="parameters" element="tns:FileUploadResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePostSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePost" />
  </wsdl:message>
  <wsdl:message name="DeletePostSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePostResponse" />
  </wsdl:message>
  <wsdl:message name="PostAllAquireSoapIn">
    <wsdl:part name="parameters" element="tns:PostAllAquire" />
  </wsdl:message>
  <wsdl:message name="PostAllAquireSoapOut">
    <wsdl:part name="parameters" element="tns:PostAllAquireResponse" />
  </wsdl:message>
  <wsdl:message name="GetComicImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetComicImage" />
  </wsdl:message>
  <wsdl:message name="GetComicImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetComicImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="FileUpload">
      <wsdl:input message="tns:FileUploadSoapIn" />
      <wsdl:output message="tns:FileUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <wsdl:input message="tns:DeletePostSoapIn" />
      <wsdl:output message="tns:DeletePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostAllAquire">
      <wsdl:input message="tns:PostAllAquireSoapIn" />
      <wsdl:output message="tns:PostAllAquireSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComicImage">
      <wsdl:input message="tns:GetComicImageSoapIn" />
      <wsdl:output message="tns:GetComicImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUpload">
      <soap:operation soapAction="http://tempuri.org/FileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap:operation soapAction="http://tempuri.org/DeletePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostAllAquire">
      <soap:operation soapAction="http://tempuri.org/PostAllAquire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComicImage">
      <soap:operation soapAction="http://tempuri.org/GetComicImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUpload">
      <soap12:operation soapAction="http://tempuri.org/FileUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap12:operation soapAction="http://tempuri.org/DeletePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostAllAquire">
      <soap12:operation soapAction="http://tempuri.org/PostAllAquire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComicImage">
      <soap12:operation soapAction="http://tempuri.org/GetComicImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:11414/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:11414/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>